@font-face {
	font-family: "KaushanScript-Regular";
	src: url("../Fonts/kaushan-script/KaushanScript-Regular.otf");
}
@font-face {
	font-family: "Exo-Expanded";
	src: url("../Fonts/Exo_Expanded/Exo2-ExtraBoldExpanded.otf");
}


{ margin: 0; padding: 0; }

html { 
	background: url(../Images/wallpaper.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

	
h1{
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: "KaushanScript-Regular";
}
h2{
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: "Exo-Expanded", "Exo2-ExtraBoldExpanded";
}
h3{
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: "Exo-Expanded", "Exo2-ExtraBoldExpanded";
}

img{
	max-width:10%;
}

.circlePortrait{
	border-radius:50%;
	max-height: 25%;
	max-width: 25%;
	min-height: 25%;
	min-width: 25%;
	margin-top: 25px;
	
}

.circle{
	border-radius:50%;
	max-height: 10%;
	max-width: 10%;
	min-height: 10%;
	min-width: 10%;
}

.container {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 65%;
	width: 65%;
	border: 1px solid black;
	border-radius: 25px;
	background: linear-gradient(#E1E1E1, #E1E1E1);
}

a{
	text-decoration: none;
}


h2 a:link {
  color: DeepSkyBlue;
  text-decoration:underline;
}
h2 a:visited {
  color: #C5B4E3;
  text-decoration:underline;
}
h2 a:hover {
  color: red;
  text-decoration:underline;
}
